<mat-card class="form-card">
  <mat-card-header class="header">
    <mat-card-title>{{ idEdit ? 'Editar' : 'Nueva' }} Persona</mat-card-title>
    <mat-card-subtitle>Completa los datos para guardar en la API local</mat-card-subtitle>
    <a mat-stroked-button routerLink="/personas">Volver</a>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre" placeholder="Ingrese el nombre">
        @if (form.controls['nombre'].hasError('required')) {
          <mat-error>El nombre es obligatorio.</mat-error>
        }
        @if (form.controls['nombre'].hasError('minlength')) {
          <mat-error>Debe tener al menos 2 caracteres.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="apellido" placeholder="Ingrese el apellido">
        @if (form.controls['apellido'].hasError('required')) {
          <mat-error>El apellido es obligatorio.</mat-error>
        }
        @if (form.controls['apellido'].hasError('minlength')) {
          <mat-error>Debe tener al menos 2 caracteres.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com">
        @if (form.controls['email'].hasError('required')) {
          <mat-error>El email es obligatorio.</mat-error>
        }
        @if (form.controls['email'].hasError('email')) {
          <mat-error>Ingrese un email valido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="fechaNacimientoPicker" formControlName="fechaNacimiento">
        <mat-datepicker-toggle matIconSuffix [for]="fechaNacimientoPicker"></mat-datepicker-toggle>
        <mat-datepicker #fechaNacimientoPicker></mat-datepicker>
        @if (form.controls['fechaNacimiento'].hasError('required')) {
          <mat-error>La fecha de nacimiento es obligatoria.</mat-error>
        }
      </mat-form-field>

      <div class="form-actions">
        <button type="button" mat-stroked-button (click)="cancel()">
          Cancelar
        </button>

        <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid || form.pristine">
          {{ idEdit ? 'Actualizar' : 'Guardar' }} Persona
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
